@media #{$tablet} {
  .welcome {
    &__pattern-right {
      bottom: 0;
    }
  }

  .directors {
    padding: 10rem 10rem 12.8rem 10rem;

    &__pattern {
      &--top-left {
        top: 0;
      }
    }

    &__content {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.1rem;
      row-gap: 7.6rem;
    }
  }

  .clients {
    padding: 10rem 4rem;

    &__pattern {
      left: 0;
    }

    &__content {
      grid-template-columns: repeat(5, 1fr);
      gap: 4rem;
      align-items: center;
    }

    &__logo {
      width: 100%;
    }
  }
}

@media #{$desktop} {
  .welcome {
    &--about {
      height: 517px;
    }

    &__text {
      &--about {
        &::before {
          background: $primary-color-mid;
        }
      }
    }
  }

  .directors {
    padding: 14rem 16.5rem;

    &__heading {
      font-size: 4.8rem;
      line-height: 1;
    }

    &__content {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
    }
  }

  .clients {
    padding: 14rem 16.5rem;

    &__pattern {
      top: 0;
    }

    &__heading {
      font-size: 4.8rem;
      line-height: 1;
    }
  }
}
