.line {
  width: 50px;
  height: 4px;
  background: $primary-color-mid;
  margin-block-end: 2.4rem;
}

.pattern {
  position: absolute;

  &-bottom {
    left: 0;
    bottom: 0;
  }

  &-bottom-right {
    width: 200px;
    right: 0;
    bottom: 0;
  }

  &-bottom-right-overflow {
    width: 200px;
    right: -100px;
    bottom: -100px;
  }

  &-bottom-left {
    width: 200px;
    left: 0;
    bottom: -22px;
  }

  &-top-right {
    width: 200px;
    right: -100px;
    top: 0;
  }

  &-top-left {
    width: 147px;
    top: 0;
    left: 0;
  }

  &-center {
    width: 67px;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
  }
}
