.header {
  background: $primary-color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 2.4rem;

  &__btn {
    background: 0;
    border: 0;
  }

  .main-nav {
    display: none;
  }
}
