@media #{$tablet} {
  .main-heading {
    font-size: 6.4rem;
    line-height: 1;
    padding: 0 15rem;
  }
}

@media #{$desktop} {
  .main-heading {
    font-size: 10rem;
    padding: 0;
    padding-inline-end: 5rem;
    text-align: left;

    &--about {
      font-size: 6.4rem;
      line-height: 1.56;
      padding-inline-end: 15rem;
    }
  }
}
