@media #{$tablet} {
  .welcome {
    height: 700px;

    &__content {
      padding: 4.8rem 4rem 0;
    }

    &__text {
      padding: 2.4rem 11rem;
    }
  }

  .features {
    padding: 10rem;

    &__heading {
      padding: 0 5rem 6.4rem 0;
    }

    &__content {
      gap: 3.2rem;
    }

    &__element {
      grid-template-columns: 100px 1fr;
      text-align: left;
      padding: 0;
    }

    &__img {
      grid-row: span 2;
    }
  }

  .quotes {
    padding: 10rem;

    &__heading {
      padding: 0;
    }

    &__content {
      padding: 0;
    }
  }

  .contact {
    flex-direction: row;
    padding: 8.4rem;
    justify-content: space-between;

    &__heading {
      margin: 0;
    }
  }
}

@media #{$desktop} {
  .welcome {
    &__content {
      flex-direction: row;
      padding: 0 16.5rem;
      height: 200px;
    }

    &__text {
      font-size: 1.8rem;
      padding: 0;
      flex-shrink: 2;
      text-align: left;
      align-self: flex-end;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 4px;
        background: $secondary-color-light;
        left: 0;
        top: -50px;
      }
    }

    &__pattern {
      left: 75%;
    }

    &__pattern-left {
      display: block;
      position: absolute;
      width: 200px;
      top: 50%;
      left: -100px;
      transform: translateY(-50%);
    }
  }
}
