.welcome {
  position: relative;
  overflow: hidden;
  background: $primary-color-dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    @extend %flex-column-center;
    padding: 0 2.4rem;
  }

  &__text {
    padding-block-start: 1.8rem;
  }

  &__pattern-left {
    display: none;
  }

  &__pattern {
    position: absolute;
    width: 358px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

.features {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 2rem;
  overflow: hidden;
  background: $tertiary-color-light;

  &__pattern {
    position: absolute;
    width: 200px;
    right: -100px;
    top: 0;
  }

  &__heading {
    @extend %section-heading;
    text-align: left;
    padding: 6.4rem 8rem 4.8rem 2.4rem;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 50px;
      height: 4px;
      background: $primary-color-mid;
      position: absolute;
      left: 2.4rem;
      top: 3.6rem;
    }
  }

  &__content {
    display: grid;
    gap: 5rem;
    margin-block-end: 6rem;
  }

  &__element {
    display: grid;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2.4rem;
  }

  &__img {
    width: 72px;
    justify-self: center;
  }

  &__title {
    color: $primary-color-mid;
  }
}

.quotes {
  position: relative;
  background: $primary-color-dark;
  padding-block-end: 16.4rem;

  &__pattern {
    position: absolute;
    width: 147px;
    top: 0;
    left: 0;

    &--center {
      width: 67px;
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
    }
  }

  &__pattern-bottom {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
  }

  &__heading {
    @extend %section-heading;
    text-align: center;
    padding: 14rem 2.4rem 0 2.4rem;

    &--emphasize {
      padding: 0;
      color: $secondary-color-light;
    }
  }

  &__content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-start: 8.4rem;
    gap: 8.4rem;
    padding: 0 2.4rem;
  }

  &__element {
    display: grid;
    gap: 0.2rem;
    position: relative;
  }

  &__text {
    z-index: 1;
  }

  &__person-name {
    font-size: 1.8rem;
    line-height: 1.56;
    color: $secondary-color-light;
    margin-block-start: 1.4rem;
  }

  &__person-role {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
  }

  &__person-img {
    width: 62px;
    border-radius: 50%;
    border: 2px solid $border-color;
    justify-self: center;
    margin-block-start: 1.4rem;
  }
}

.contact {
  position: relative;
  @extend %flex-column-center;
  background: $primary-color-mid;
  overflow: hidden;
  padding: 8.3rem 2.4rem;

  &__heading {
    margin-block-end: 2.4rem;
    font-size: 3.2rem;
    line-height: 1;
    color: $tertiary-color-light;
  }

  &__pattern {
    position: absolute;
    width: 200px;
    left: 0;
    bottom: -22px;
  }
}
