// Colors

$primary-color-dark: rgb(1, 78, 86);
$primary-color-mid: rgb(246, 126, 126);
$primary-color-light: rgb(255, 255, 255);

$secondary-color-light: rgb(121, 200, 199);
$secondary-color-mid: rgb(44, 98, 105);
$secondary-color-dark: rgb(0, 64, 71);

$tertiary-color-light: rgb(1, 47, 52);
$tertiary-color-dark: rgb(0, 37, 41);

// Fonts

@import url('https://fonts.googleapis.com/css?family=Livvic:400,600,700&display=swap');

$font-stack: 'Livvic', sans-serif;
