@import 'variables', 'config', 'mixins';

@import 'decorations', 'header', 'headings', 'home', 'text', 'buttons', 'footer',
  'logo', 'about', 'contact';

.container {
  margin: 0 auto;
  text-align: center;
}

.main-content {
  background: $primary-color-dark;
}
