@import url("https://fonts.googleapis.com/css?family=Livvic:400,600,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Livvic", sans-serif;
  font-size: 10px;
  color: #fff;
}

body {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.67;
}

h1 {
  font-size: 6.4rem;
  line-height: 1.2;
}

h2 {
  font-size: 4.8rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.56;
}

img {
  display: block;
  width: 100%;
}

.footer, .contact, .welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line {
  width: 50px;
  height: 4px;
  background: #f67e7e;
  margin-block-end: 2.4rem;
}

.pattern {
  position: absolute;
}
.pattern-bottom {
  left: 0;
  bottom: 0;
}
.pattern-bottom-right {
  width: 200px;
  right: 0;
  bottom: 0;
}
.pattern-bottom-right-overflow {
  width: 200px;
  right: -100px;
  bottom: -100px;
}
.pattern-bottom-left {
  width: 200px;
  left: 0;
  bottom: -22px;
}
.pattern-top-right {
  width: 200px;
  right: -100px;
  top: 0;
}
.pattern-top-left {
  width: 147px;
  top: 0;
  left: 0;
}
.pattern-center {
  width: 67px;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
}

.header {
  background: #014e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 2.4rem;
}
.header__btn {
  background: 0;
  border: 0;
}
.header .main-nav {
  display: none;
}

.main-heading {
  font-size: 4rem;
}
.main-heading__emphasize {
  color: #f67e7e;
}

.quotes__heading, .features__heading {
  font-size: 3.2rem;
}

.welcome {
  position: relative;
  overflow: hidden;
  background: #014e56;
  height: 100vh;
}
.welcome__content {
  padding: 0 2.4rem;
}
.welcome__text {
  padding-block-start: 1.8rem;
}

.features {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1fr;
  gap: 2rem;
  overflow: hidden;
  background: #012f34;
}
.features__heading {
  text-align: left;
  padding: 6.4rem 8rem 4.8rem 2.4rem;
}
.features__content {
  display: grid;
  gap: 5rem;
  margin-block-end: 6rem;
}
.features__element {
  display: grid;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.features__img {
  width: 72px;
  justify-self: center;
}
.features__title {
  color: #f67e7e;
}

.quotes {
  position: relative;
  background: #014e56;
  padding-block-end: 16.4rem;
}
.quotes__heading {
  text-align: center;
  padding: 14rem 2.4rem 0 2.4rem;
}
.quotes__heading--emphasize {
  color: #79c8c7;
}
.quotes__content {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-start: 8.4rem;
  gap: 8.4rem;
  padding: 0 2.4rem;
}
.quotes__element {
  display: grid;
  gap: 0.2rem;
  position: relative;
}
.quotes__text {
  z-index: 1;
}
.quotes__person-name {
  font-size: 1.8rem;
  line-height: 1.56;
  color: #79c8c7;
  margin-block-start: 1.4rem;
}
.quotes__person-role {
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
}
.quotes__person-img {
  width: 62px;
  border-radius: 50%;
  border: 2px solid #c4fffe;
  justify-self: center;
  margin-block-start: 1.4rem;
}

.contact {
  position: relative;
  background: #f67e7e;
  overflow: hidden;
  padding: 8.3rem 2.4rem;
}
.contact__heading {
  margin-block-end: 2.4rem;
  font-size: 3.2rem;
  line-height: 1;
  color: #012f34;
}

.text {
  font-size: 1.5rem;
  line-height: 1.7;
}

.btn {
  border-radius: 2.4rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background: 0;
  font-size: 1.8rem;
  line-height: 1.56;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  transition: all 0.2s ease-in;
}
.btn--primary-dark {
  color: #012f34;
  border: 2px solid #012f34;
}
.btn--primary-dark:hover {
  background: #012f34;
  color: white;
}

.footer {
  padding: 6.6rem 2.4rem;
  background: #002529;
}
.footer__nav-list {
  display: flex;
  list-style: none;
}
.footer__nav-element {
  margin: 2.4rem 1.2rem;
}
.footer__nav-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.footer__nav-link:hover {
  color: #f67e7e;
}
.footer__address, .footer__text {
  opacity: 0.6;
}
.footer__social {
  display: flex;
  margin: 4rem 0 1.6rem;
}
.footer__social-link {
  margin: 0 0.8rem;
}

.logo__img {
  width: 80%;
}
.logo__img--small {
  width: 60%;
  margin: 0 auto;
}

.directors {
  position: relative;
  overflow: hidden;
  background: #004047;
  padding: 8.8rem 0 15rem;
}
.directors__pattern {
  position: absolute;
}
.directors__pattern--top-left {
  width: 200px;
  top: -100px;
  left: -100px;
}
.directors__pattern--bottom-right {
  width: 147px;
  bottom: 0;
  right: 0;
}
.directors__heading {
  font-size: 3.2rem;
}
.directors__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5.2rem;
  margin-block-start: 4.8rem;
  padding: 0 2.4rem;
}

.dir-card {
  position: relative;
}
.dir-card__front {
  position: relative;
  top: 0;
  left: 0;
  background: #012f34;
  text-align: center;
  padding: 3.2rem 2.4rem 5.6rem;
}
.dir-card__img {
  width: 96px;
  border-radius: 50%;
  border: 2px solid #c4fffe;
  margin: 0 auto;
}
.dir-card__name {
  color: #79c8c7;
  font-size: 1.8rem;
  line-height: 1.56;
  margin-block-start: 1.6rem;
}
.dir-card__role {
  font-weight: 500;
  font-style: italic;
}
.dir-card__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 2rem;
  background: #f67e7e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}
.dir-card__button--close {
  background: #79c8c7;
}
.dir-card__button:hover {
  transform: translate(-50%, 50%) scale(1.05);
}
.dir-card__button-icon {
  width: 1.6rem;
}
.dir-card__button-icon--close {
  transform: rotate(45deg);
}
.dir-card__back {
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  padding: 3.5rem 2.4rem 6.3rem;
  background: #002529;
}
.dir-card__text {
  margin-block-start: 0.8rem;
}
.dir-card__social {
  display: flex;
  justify-content: center;
  margin-block-start: 2.4rem;
}
.dir-card__social-icon {
  padding: 0 1.2rem;
}

.clients {
  position: relative;
  overflow: hidden;
  background: #012f34;
  padding: 8.8rem 2.4rem;
}
.clients__pattern {
  position: absolute;
  width: 200px;
  top: -100px;
  left: -100px;
}
.clients__heading {
  font-size: 3.2rem;
}
.clients__content {
  margin-block-start: 6.4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6.4rem;
}
.clients__logo {
  width: 50%;
  justify-self: center;
}

.container {
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */